#ignores all files in the root directory.
/*

# Ignore all files in the root, except directories
!*/

# Allow specific files or folders in the root
!.gitignore
!.github/
!client/
!server/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
Thumbs.db
ehthumbs.db
*.db

# Other files that should not be in the repository
.env
.env.local
.env.development
.env.production
.env.test
.env.development.local
.env.test.local
.env.production.local

config.json

# Security
*.pem
*.key
