.am-hero-banner {
  @include themify($themes) {
    height: 100%;
    width: auto;
    object-fit: cover;
    opacity: 0.1;

    path {
      stroke-width: 0.125;
      color: themed("text-color");
    }
  }
}
