.backdrop {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    z-index: 1005;
    background-color: themed("background-color");
    backface-visibility: hidden;
    scroll-behavior: unset;
  }
}
