.backdrop {
  @include themify($themes) {
    position: fixed;
    inset: 0;
    min-height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    z-index: 1005;
    background-color: themed("background-color");
    backface-visibility: hidden;
    scroll-behavior: unset;
  }
}
