.calendly {
  @include themify($themes) {
    &__close-btn-container {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: end;
      position: relative;
      z-index: 1;
      box-shadow: $box-shadow-navigation;
    }

    &__close-button {
      margin-right: 15px;
      border: none;
      transition: 0.5s;
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background-color: rgba(themed("text-color"), 0.1);
      }

      svg {
        width: 25px;
        height: 25px;
        color: themed("text-color");
      }
    }

    &__modal {
      min-height: calc(100vh - 70px);
      display: flex;
      flex-direction: column;
    }

    &__modal-wrapper {
      position: relative;
      height: 100%;
      flex-grow: 1;
      overflow: hidden;

      .calendly-inline-widget {
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;
        position: absolute;
        inset: 0;
        height: 100% !important;
        overflow-y: scroll;
      }
    }
  }
}
