.contact-page {
  @include themify($themes) {
    margin-top: $navbarHeight;
    background-color: themed("background-color");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;

    @include media-breakpoint-up(xl) {
      margin-top: 200px;
    }

    &__wrapper {
      position: relative;
      min-height: 100vh;
      width: 100%;
      display: flex;
    }

    &__logo-banner-container {
      position: absolute;
      inset: 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      .am-hero-banner {
        opacity: 0.1;
      }
    }

    &__content {
      margin-top: 60px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }
}
