.form-input {
  @include themify($themes) {
    &__row {
      margin: 10px 0;
      line-height: 1;
    }

    &__label {
      font-size: 1.5rem;
      color: themed("text-color") !important;
      text-transform: none;
    }

    &__textarea {
      width: 100%;
      min-height: 10lh;
      padding: 8px;
      line-height: 1.5;
      field-sizing: content;
      resize: none;
      overflow: hidden;
      box-sizing: border-box;
      transition: all 0.3s ease;
      font-size: clamp(16px, 3.6vw, 1.35rem);

      &:invalid[data-focused="true"] ~ span {
        display: block;
      }
    }

    &__input {
      width: 100%;
      background-color: rgba($white, 0.9);
      outline: none;
      font-size: 1.75rem;
      padding: clamp(12px, 1.6vw, 12px);
      margin: clamp(5px, 1.6vw, 8px) auto;
      border-radius: 6px;
      border: 1px solid;
      resize: vertical;
      font-weight: normal;

      &:focus {
        background-color: $white;
      }

      &:invalid[data-focused="true"] {
        border: 1px solid $red;
      }

      &:invalid[data-focused="true"] ~ span {
        display: block;
      }
    }

    &__error-message {
      color: $red;
      font-size: 14px;
      text-align: left;
      font-weight: $font-weight-medium;
    }
  }
}
