.hero {
  @include themify($themes) {
    background-color: themed("background-color");
    position: relative;
    margin-top: $navbarHeight;
    height: calc(var(--vh, 1vh) * 100 - $navbarHeight);
    width: 100vw;

    @include media-breakpoint-up(xl) {
      height: calc(var(--vh, 1vh) * 100 - $navbarHeightFixed);
      margin-top: $navbarHeightFixed;
    }

    &__content {
      &::before {
        content: "";
        position: absolute;
        top: $hero-image-transparent;
        left: 0;
        width: 100%;
        height: calc(100% - $hero-image-transparent);
        background: linear-gradient(
          to right,

          rgba(255, 255, 255, 0) 53%,
          rgba(255, 255, 255, 0.7) 90%,
          rgba(255, 255, 255, 1) 100%
        );
        z-index: 7;

        @include media-breakpoint-down(md) {
          background: transparent;
        }
      }
    }

    &__wrapper {
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      top: calc(-1 * calc($hero-image-transparent/2));

      @include media-breakpoint-up(xl) {
        top: calc(-1 * calc($hero-image-transparent));
      }
    }

    &__controller {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__content {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 8;
      user-select: none;

      @include media-breakpoint-up(md) {
        left: 0;
      }
    }

    &__image {
      position: absolute;
      width: auto;
      height: 100%;
      max-width: 100%;
      display: block;
      object-fit: cover;
      object-position: left;
    }

    &__heading {
      margin-bottom: 1rem;

      .heading-title {
        color: themed("text-color") !important;
        text-transform: capitalize;
        font-size: clamp(3.5rem, 10vw, 6rem);
        font-weight: 300;
        position: relative;
        display: inline-block;
        text-align: center;

        strong {
          color: inherit;
          font-size: inherit;
          font-weight: 500;
        }
      }
    }

    &__text {
      min-height: calc(var(--vh, 1vh) * 45); // Updated to use custom --vh
      z-index: 6;

      @include media-breakpoint-down(xs) {
        min-height: fit-content;
      }

      @include media-breakpoint-up(xl) {
        z-index: 8;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50vw;
        color: $black;
        align-self: flex-end;
        padding-right: 8vw;
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px;
        gap: 2.5rem;
        border-radius: 30px;
        background-color: themed("background-title");

        @include media-breakpoint-up(lg) {
          height: 100%;
        }

        @include media-breakpoint-down(lg) {
          height: 100%;
        }

        @include media-breakpoint-down(md) {
          padding: 10px;
          gap: 0.5rem;
        }

        p {
          font-size: clamp(2rem, 2.9vw, 2.9rem);
          font-weight: 500;
          text-align: center;

          @include media-breakpoint-down(lg) {
            text-align: center;
          }

          span {
            font-weight: inherit;
            font-size: inherit;
            color: $secondary-color;
            display: inline-block;
          }

          @keyframes blink {
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }

    .scroll-to-web {
      transform: rotate(90deg);
      transform-origin: center;
      padding: 0;
      margin: 0;
      position: absolute;
      animation: bounce ease-in-out 1.2s infinite;
      display: block;
      z-index: 6;
      height: fit-content;
      user-select: none;
      right: -20px;
      bottom: 120px;
      color: themed("text-color");

      @include media-breakpoint-down(md) {
        left: 50%;
        transform: translate(-50%) rotate(90deg);
        bottom: -8%;
      }

      @include media-breakpoint-up(lg) {
        right: -20px !important;
        bottom: 120px !important;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }

      a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        transition: all 1.5s ease;
        color: inherit !important;

        &:hover {
          .scroll-to-web-arrow-wrapper {
            transition: all 0.3s ease-in-out;
            background-color: transparent;

            svg {
              animation: bounce-2 1s ease-in-out infinite alternate;
            }
          }
        }

        &:focus,
        &:active {
          outline: none;
          cursor: pointer;
        }
      }

      .scroll-to-web-text {
        margin-right: 10px;
        color: inherit;

        @include media-breakpoint-down(sm) {
          display: none;
        }

        p {
          white-space: nowrap;
          font-size: 14px;
          color: inherit;
          margin: 0;
          padding: 0;
          transform: scale(-1);
        }
      }

      .scroll-to-web-arrow-wrapper {
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: inherit;

        .scroll-to-web-arrow {
          font-size: 25px;
          rotate: 270deg;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 15px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes bounce-2 {
  50% {
    transform: translateY(35%);
    scale: 1.2;
  }
  100% {
    opacity: 0.4;
    transform: translateY(-65%);
    scale: 0.85;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.side-in {
  transform: translateX(0) !important;
  opacity: 1 !important;

  h1 {
    &::after {
      animation: curvedRedLine ease-in-out 1s;
      animation-delay: 0.5s;
    }
  }
}

@media screen and (orientation: landscape) {
  .hero__wrapper {
    top: calc(-1 * $hero-image-transparent) !important;
  }

  .hero__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 100%;
    color: $black;
    z-index: 8 !important;
    align-self: flex-end;
    padding-right: 18vw;
  }

  .hero__text-wrapper {
    height: fit-content !important;
  }

  .hero__text-content {
    margin: 0 auto !important;
    width: 100% !important;
    justify-content: center;
  }

  .scroll-to-web {
    z-index: 8 !important;
    right: -40px !important;
    bottom: 100px !important;
    color: $black !important;
  }
}

@media screen and (min-height: 1200px) and (orientation: portrait) {
  .hero {
    margin-top: $navbarHeight !important;
    height: calc(var(--vh, 1vh) * 100 - $navbarHeight) !important;
  }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .scroll-to-web {
    display: none !important;
  }
  .heading-title {
    font-size: clamp(3.5rem, 7vw, 6rem) !important;
  }

  .hero__text-wrapper {
    gap: 15px !important;

    p {
      font-size: clamp(1.6rem, 2.4vw, 2.9rem) !important;
    }
  }
}
