.success {
  position: relative;
  flex: 1 1 0%;
  padding-top: $navbarHeight;
  background-color: rgb(47, 47, 47);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  min-height: fit-content !important;

  @include media-breakpoint-up(xl) {
    padding-top: $navbarHeightFixed;
  }

  &__message {
    margin: auto;
    border-radius: 7px;
    padding: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: clamp(4rem, 3.75em, 6rem);
  }

  p {
    margin-bottom: 2rem;
    font-size: clamp(1.75rem, 2em, 4rem);
  }

  a {
    color: $red !important;
    font-weight: 600;
    font-size: clamp(1.25rem, 2.2em, 2.1rem);
    transition: all 0.3s ease !important;
    margin-top: 4rem;

    span {
      color: $red !important;
      text-decoration: none;
      transition: all 0.3s ease !important;
      font-size: clamp(1.25rem, 2.2em, 2.1rem);
    }
  }
}

@media (orientation: landscape) {
  .success {
    min-height: 100vh !important;
    padding-top: $navbarHeight;
  }
}
