.testimonials {
  @include themify($themes) {
    position: relative;
    background-color: themed("background-color");
    overflow-x: hidden;

    &__bg {
      position: relative;
      background-image: url("@/assets/images/testimonial-bg.jpg");
      background-repeat: repeat;
      clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 93%);
    }

    &__bg--wrapper {
      position: relative;
    }

    &__bg--gradient {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $gradient;

      clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);

      @include media-breakpoint-down(sm) {
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;

      h2 {
        color: $white !important;
        font-size: clamp(2rem, 9.2vw, 4rem) !important;
        position: relative;
        text-align: center;
        padding-top: clamp(2rem, 10vw, 10rem);
        font-weight: normal;
        line-height: 2.5 !important;

        @include media-breakpoint-down(md) {
          margin-bottom: 0;
        }
      }

      .red-line-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
        margin-bottom: 10rem;

        @include media-breakpoint-up(lg) {
          margin-top: 2.25rem;
          margin-bottom: 15rem;
        }

        svg {
          width: clamp(4em, 8vw, 8em);
          height: auto;
        }
      }
    }

    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      transition: all 0.5s ease-out;
      padding: 0 0 100px 0;
    }

    &__bottom-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15rem 0;
      color: themed("text-color");

      h3 {
        font-size: clamp(14px, 2vw, 2rem) !important;
        font-weight: $font-weight-normal;
        text-align: center;
        padding: 0 10px;
        color: themed("text-color") !important;
        margin-bottom: 2rem;
      }
    }
  }
}
