.thumbnails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  width: 85%;

  &__item {
    max-width: 12%;
    display: inline-block;
    max-height: 100%;
    flex-shrink: 0;
    cursor: pointer;
    line-height: 0;
    background: $black;

    @include media-breakpoint-up(lg) {
      max-width: 8%;
    }
  }

  &__item-image {
    border: 2px solid rgb(1, 1, 1);
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    opacity: 0.4;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &__item-image--active {
    opacity: 1;
    display: block;
    border: none;
    outline: 2px solid rgb(110, 110, 110);
  }
}
