button {
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent !important;
}

.no-scroll {
  overflow: hidden !important;
  height: 100% !important; /* Optional: Fixes potential issues on iOS */
}

.animated-visibility-wrapper {
  line-height: 0;
  text-align: center;
  margin: 15px auto 0;
  width: fit-content;
}

.red-line-placeholder {
  display: inline-flex;

  svg {
    width: clamp(4em, 8vw, 8em);
    height: auto;
  }
}

.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
